.active {
    border: 2px solid white;
}

.custom-grab-cursor {
    cursor: grab;
}

.Toastify__toast--warning {
    background: #7cffdc56;
}

.Toastify__progress-bar--warning {
    background: #7CFFDB95;
}

.Toastify__toast-theme--dark {
    color: white;
}

.Toastify__toast-theme--light {
    color: white;
}

.Toastify__toast--warning {
    background: #ffcc00c3;
}

.Toastify__toast--error {
    background: #ff0000;
}

.Toastify__progress-bar--warning {
    background: #FFE500;
}

.Toastify__toast-theme--dark {
    color: black;
}

.Toastify__toast-theme--light {
    color: black;
}

.tooltip-text {
    visibility: hidden;
    width: 220px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    /* Adjust this value to position the tooltip */
    left: 50%;
    margin-left: -110px;
    /* Center the tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

label:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}